<div class="container" id="post-container"></div>

<a href="/new-post" class="text-decoration-none text-reset">
  <button class="btn btn-primary position-fixed bottom-0 end-0 m-5 p-3 rounded-5">New Post</button>
</a>

<script src="/js/dashboard.js"></script>