<div class="container mb-5">
  <h2>Login</h2>
  <form id="login-form">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" class="form-control mb-3" />

    <label for="password-login">Password:</label>
    <input type="password" id="password-login" class="form-control mb-3" />

    <button type="submit" class="btn btn-primary">login</button>
  </form>
</div>

<div class="container">
  <h2>Signup</h2>
  <form id="signup-form">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" class="form-control mb-3" />
    
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" class="form-control mb-3" />
    
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" class="form-control mb-3" />
    
    <button type="submit" class="btn btn-primary">signup</button>
  </form>
</div>

<script src="./js/login.js"></script>