<div class="container">
  <h1>Create Post</h1>

  <input id="title-form" class="form-control form-control-lg g-3" placeholder="Title">
  <textarea id="content-form" class="form-control form-control-sm mt-3" style="resize: none" placeholder="Content"></textarea>
  <button id="submit-button" class="btn btn-primary mt-3">Submit</button>
</div>

<script> const userId = {{user.id}} </script>
<script src="/js/poster.js"></script>