<div id="post-container" class="container"></div>
<hr>

{{#if loggedIn}}
<div id="comment-form-container" class="container">
  <textarea id="content-form" class="form-control mb-3" style="resize: none" placeholder="Post a comment"></textarea>
  <button id="submit-button" class="btn btn-primary mb-2">Submit</button>
</div>
<hr>
{{/if}}

<div id="comment-container" class="container"></div>

<script> 
  const postId = {{postId}}
  {{#if loggedIn}}
  const userId = {{user.id}}
  {{/if}}
</script>
<script src="/js/viewer.js"></script>
